[Unit]
Description=PowerUSB Watchdog
Documentation=man:powerusb.service(5)
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=10
User=wcadmin
Group=adm
ExecStart=/usr/local/bin/watchdog

[Install]
WantedBy=multi-user.target
